name: build-any

on:
  push:
    branches:
      - '**'
      - '!master'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
      
jobs:
  build:
  
    name: build-any
    runs-on: ubuntu-latest
    
    permissions: 
      contents: read
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 22

    # - name: Print GitHub
    #   run: echo $JSON
    #   env:
    #     JSON: ${{ toJson(github) }}

    - name: Install dependencies
      run: npm ci
    
    - name: Build
      id: BuildWithCloud
      # continue-on-error: true
      run: npx nx build --configuration=production --no-cloud
      timeout-minutes: 15

    # - name: BuildWithoutCloud
    #   id: BuildWithoutCloud
    #   if: ${{ steps.BuildWithCloud.outcome == 'failure' }}
    #   run: npx nx build --configuration=production --no-cloud

    #- name: Test
    #  run: npm run test -- --watch=false
